*{
    box-sizing: border-box;
}

body{
    background-color: lightsalmon;
    color:white;
    margin: 0;
    padding: 0;
    height: 2000px;
}


.overlay {  
    height: 100vh;
    width: 100%;
    z-index: 999 !important;
    transition: 0.5s; 
}

/* Kleeto Page */

nav{
    float:right;
}
nav ul li{
    display: inline-block;
}
.navbox{
    display:flex;
    flex-direction: row;
}

.img-responsive{
   width:120px;
   height: 75px;
   margin-left: 150px;
   margin-right: 50px;
}

/* ul.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

nav :first-child{
    margin-left: 150px;
}

nav a{
    margin: 20px;
}

ul li a{
    color:black;
 
}
a:hover{
    text-decoration:none;
}

.logo{
    float:left
}

.box-sec h2{
    margin-top:20px;
    font-weight: bold;
    font-size: 40px;
    color: #09516D;
}

.box-sec h2 span{
    display: block;
    font-size: 80px;
}

.box-sec-left p{
    margin: 10px 0px 35px 0px;
    font-size: 20px;
    color: #707070;
    line-height: 24px;
}

.box-sec-btn .demo-button{
        display: inline-block;
        padding: 25px;
        margin: 0;
        padding: 0;
        border: 0;
}

.demo-button {
    background: #A9C2A3;
    color: #fff;
    border: 1px solid #A9C2A3;
    transition: all .5s ease-in-out;
    border-radius: 25px;
    text-align: center;
}

/* .scaledown:hover{
    transform: scale(1);
} */


.companies-sec{
    margin-top: 50px;
}

.companies-sec ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.companies-sec ul li{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.companies-sec ul li span{
    display: inline-block;
    text-align: center;
}

.companies-sec ul li .circle1{
    border:1px solid salmon;
    color:salmon;
    border-radius:50%;
    height: 70px;
    width:70px;
    /* width:30%; */
    position: relative;
    font-size:18px;
    float: left;
    padding: 20px 0px;
    z-index: 1;
}

.companies-sec ul li .circle2{
    background-color: grey;
    border-radius:50%;
    /* width:30%; */
    height: 70px;
    width:70px;
    overflow: hidden;
    position: relative;
    left:-8px;
    color: white;
    font-weight: bold;
    font-size:11px;
    padding: 20px 10px;
    z-index: 0;
}

.how{
    text-align: center;
    font-size: 48px;
    color: #09516D;
    font-weight: 600;
    margin-top:45px;
}


